<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora de Gorjeta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Valor da Conta</ion-label>
      <ion-input type="number" [(ngModel)]="valorConta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Porcentagem da Gorjeta (%)</ion-label>
      <ion-input type="number" [(ngModel)]="porcentagemGorjeta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="calcularGorjeta()">Calcular Gorjeta</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Gorjeta Sugerida:</ion-label>
      <ion-input [value]="valorGorjeta | currency" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Total:</ion-label>
      <ion-input [value]="totalConta | currency" readonly></ion-input>
    </ion-item>
  </ion-list>
</ion-content>