<ion-header>
  <ion-toolbar>
    <ion-title>Cálculo de IMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="number" [(ngModel)]="peso" label="Peso (kg)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="altura" label="Altura (m)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" (click)="calcularIMC()">Calcular IMC</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Resultado</ion-label>
      <ion-input [value]="resultado" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Classificação</ion-label>
      <ion-input [value]="classificacao" readonly></ion-input>
    </ion-item>
  </ion-list>
</ion-content>